{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | My site</title>
    <link rel="stylesheet" href="{% static 'account/login.css' %}">
    {% comment %} for mobile {% endcomment %}
    <link rel="stylesheet" media="(max-width: 500px)" href="{% static 'css/mobile.css' %}">
    {% comment %} for tablet {% endcomment %}
    <link rel="stylesheet" media="(max-width: 768px)" href="{% static 'css/tablet.css' %}">
    <style>
    </style>
</head>

<body>
    <header id="home">
        <div class="logo">
            <img src="{% static 'img/logo.png' %}" alt="Logo of this website">
            <a href="{% url 'home' %}" style="text-decoration: none; color: black" title="Home Page">
                <h1 class="go_home">Perfume Shop</h1>
            </a>
        </div>
    </header>
    <h2>Login</h2>
    <hr>
    <form action="{% url 'login' %}" method="POST" class="form">
        {% csrf_token %}
        <div class="container">
            {% if error %}
            <div class="alert">
                {{error}}
            </div>
            {% endif %}
            <div class="container">
                <div class="col">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" name="username" placeholder="username">
                </div>
                <div class="col">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="password">
                </div>
            </div>
            <input type="submit" value="Login" class="btn">
        </div>
    </form>
    <div style="text-align: center; margin-top: 20px;">
        <a href="{% url 'register' %}">Don't have an account? Register.</a>
    </div>
    <div class="footer" id="footer">
        <div class="name">
            <h3>Parfume Shop</h3>
        </div>
        <div class="social">
            <ul>
                <li><a href=""><img src="{% static 'img/facebook.webp' %}" alt="facebook-logo"></a></li>
                <li><a href="https:/www.instagram.com/reos_parfum" target="_blank"><img src="{% static 'img/instagram.png' %}" alt="instagram-logo"></a></li>
                <li><a href=""><img src="{% static 'img/twitter.jpg' %}" alt="twitter-logo"></a></li>
                <li><a href=""><img src="{% static 'img/gmail.png' %}" alt="gmail-logo"></a></li>
            </ul>
        </div>
    </div>
</body>

</html>